{{extend 'layout.html'}}

  

  <style type="text/css">

  #back_btn:hover{
    background: transparent;
    box-shadow: 2px 3px 4px #b7b7bd;
    border: 1px solid #5a487a;
    color: #000;

  }
  #back_btn{
    border: 1px solid #5a487a;
    width: 100px;
    height: auto;
    padding: 5px 10px;
    background: #5a487a;
    color: #fff
  }
</style>

  <table width="100%"  border="0" cellspacing="0" cellpadding="0" style="background-color:#EBEBEB;" >

  <tr height="30px" >

    <td width="75%" style="padding-left: 10px; background-color: #EBEBEB; color: #212F3C; padding-top: 5px;"><span class="blackCatTitle" style="color: #212F3C;">Physician Batch Upload</span></td>

  <form action="{{=URL(c='physician',f='physician_add')}}" method="post">

  <td style="padding-top: 3px; padding-bottom: 2px;"><input name="" type="submit" style="background-color: #EBEBEB; color: #212F3C; height:25px" value=" Back "/></td>

  <td align="left">&nbsp;</td>

  </form>

  </tr>

  <tr  height="1px" style="background-color:#CCCCCC;">  

  <td width="300" align="left"> </td>

  <td colspan="2" align="right">  </td>

  </tr>

  </table>

  <table width="100%" height="500px"  border="0" cellspacing="0" cellpadding="0" class="page_color"  >
    <tr height="100%"  style="vertical-align:top;">
      <td>
        <table width="100%"  border="0" cellpadding="0" cellspacing="0"  >
          <tr>
            <td width="10px">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="left" valign="top">
              <table width="80%">
                <tr>
                  <td width="100%">
                    <table width="100%" class="blackCat">
                
                      <form name="batch_client" id="batch_client" method="post" action="{{=URL(c='physician',f='physician_batch_upload')}}">

                        <tr>
                            <td>
                              <div align="left" class="blackCat" style="color:#212F3C"> 
                                &nbsp;Download this <a href="{{=URL('static','physician_upload_format.xls')}}">Excel Template&nbsp;<input type="submit" name="btn_upload" id="btn_upload" style="background: url('pmstore/static/images/vicon.png') -262px -102px;color:#000;width: 28px;height: 20px;font-size: 15px;border: 1px solid #8c82a0;font-size: 0px;" value="Upload" title="Upload Data" /></a> , fillup with data and copy (maximum 100 records)-paste bellow to upload
                              </div>

                            </td>
                         
                        </tr> 
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>
                            <textarea name="excel_data" id="excel_data" placeholder="Fillup with data and copy (maximum 100 records)-paste bellow to upload" style="width:100%; height:200px;border-style:solid" ></textarea>

                          </td>
                        </tr>
                        <tr>
                          <td align="right">
                            <input type="submit" name="btn_upload" id="btn_upload" style="height: 25px; width: 80px;background-color: #EBEBEB; color: #212F3C " value="Upload" title="Upload Data"/>
                          <!-- <input type="submit" name="btn_upload" id="btn_upload" style="background: url('pmstore/static/images/vicon.png') -299px -90px;color:#000;width: 50px;height: 43px;font-size: 15px;border: 1px solid #8c82a0;font-size: 0px" value="Upload" title="Upload Data" /> -->
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td>

                            <font><span style="color: #212F3C">Total Record:<b>{{=total_row}}</b>&nbsp;|</span>&nbsp;<span style="color: #00b942">Record Saved:<b>{{=count_inserted}}</b>&nbsp;|</span>&nbsp;<span style="color: red">Record Error:<b>{{=count_error}}</b></span></font>

                            <p></p>

                            <p></p>

                          </td>
                        </tr>
                        <tr>
                          <td>Error Details:</td>
                        </tr>
                        <tr>
                          <td>
                            <textarea type="textarea" name="error_data" id="error_data" style="width:100%; height:200px; border-style:solid;font-size:13px">{{=error_str}}</textarea>
                          </td>
                        </tr>
                      </form>  
                    </table>
                  </td>
                 <td width="10%">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
      <td width="2%"></td>
    </tr>
  </table>
  










