{{extend 'layout.html'}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batch Upload</title>
</head>
<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;">
        <tr height="30px">
            <td width="800"><span class="blackCatTitle">Client/Retailer Batch Upload</span></td>
            <form action="{{=URL(c='target_physician',f='target_physician')}}" method="post">
                <td align="left">
                    <input name="" type="submit" value="Back" />
                </td>
            </form>
        </tr>
        <tr height="1px" style="background-color:#CCCCCC;">
            <td width="800"></td>
            <td></td>
        </tr>
    </table>

    <table width="100%" height="500px" border="0" cellspacing="0" cellpadding="0" class="page_color">
        <tr height="100%" style="vertical-align:top;">
            <td>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="5">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="5">&nbsp;</td>
                        <td>
                            <!--start-->


                            <table width="750" border="0" cellpadding="0" cellspacing="0" class="page_color">
                                <tr>
                                    <td colspan="2" bgcolor="#DBF0EF">
                                        <div align="left" class="blackCat">
                                            &nbsp;Download this <a
                                                href="{{=URL('static','target_physician_batch_upload.xlsx')}}">Excel Template</a> ,
                                            fillup with data and copy (maximum 100 records)-paste bellow to upload
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" bgcolor="#C8E8EA" align="center">
                                        <div align="left"><br />
                                    </td>
                                </tr>

                                <form name="batch_client" id="batch_client" method="post"
                                    action="{{=URL(c='target_physician',f='target_physician_batch_upload')}}">

                                    <tr>
                                        <td colspan="2" bgcolor="#DBF0EF">
                                            <textarea name="excel_data" id="excel_data"
                                                style="width:800px; height:200px;border-style:solid"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="697" bgcolor="#DBF0EF">&nbsp;</td>

                                        <td width="61" align="left" bgcolor="#DBF0EF">
                                            <input type="submit" name="btn_upload" id="btn_upload" value="Upload" />
                                        </td>
                                    </tr>
                                </form>
                                <tr>
                                    <td colspan="2" bgcolor="#DBF0EF">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2" bgcolor="#DBF0EF">
                                        &nbsp;Total Record: {{=total_row}}<br />
                                        &nbsp;Record Saved: {{=count_inserted}}<br />
                                        &nbsp;Record Error: {{=count_error}}<br /> 
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" bgcolor="#DBF0EF">
                                        <div align="left">&nbsp;Error Details:</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" bgcolor="#DBF0EF">
                                        <textarea type="textarea" name="error_data" id="error_data"
                                            style="width:800px; height:200px; border-style:solid;font-size:12px">{{=error_str}}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>

                            </table>

                        </td>
                    </tr>
                </table>
                <!--end-->
            </td>
        </tr>
    </table>
</body>
</html>